/* .css-1gtchvp-MuiPaper-root {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
} */

.css-1fzlhpv-MuiGrid2-root {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    width: 50%;
    margin: 5rem 5rem 5rem 2rem;
}
